body{
    font-family: "Times New Roman","Georgia";
}
.banierre {
    text-align: center;
    font-family: "Times New Roman","Georgia";

}
.Mn{

    float: right;
}
.pmn{
    margin-left: 25px;
    margin-right: 45px;

}
.tith2{
    color:#3A7190;
    font-size: 1.8em;
    font-family: "Times New Roman","Georgia";
    margin-left: 15px;
}
h1{
    font-size: 3em;
    font-family: "Times New Roman","Georgia";
}
.Pg{
    width: 65%;
}
strong{
    font-size: 1.4em;
    font-family: "Times New Roman","Georgia";
}
p{
    font-size: 1.2em;
    font-family: "Times New Roman","Georgia";
}
li{
    font-size: 1.2em;
    font-family: "Times New Roman","Georgia";
}
.flex{
    
}
#f1{
    width: 70%;
}
#f2{
    width: 200px;
    border: 1px solid black;
}

.conteneur{
    display: flex;
}
#ul1{
    width: 73%
}
.dt{
    color:#46A970;

    font-family: "Times New Roman","Georgia";
}
#flexx1{
    width: 82.340%;
    margin-left: 25px;
}
#flexx2{
    border : 3px solid black;
    width: 25%;
}

.dn{
    margin-left: 35px;
}
.dn1{
    margin-left: 20px;
}